.verticalSection{
    width : 12%;
    height : 14%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    position : absolute;
    bottom : 40px;
    right : 1px;
}

.sectionItem{
    box-sizing: border-box;
    padding : 1%;
}
