.verticalSection{
    width : 15%;
    height : 30%;

    margin-right : 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;

    position : absolute;
    bottom : 40px;
    right : 1px;
}

.sectionItem{
    width : 35px;
    height : 35px;
    box-sizing: border-box;
}
